apiVersion: v1
kind: Service
metadata:
  labels:
    app: aws-cost-exporter
  name: aws-cost-exporter
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: metrics
  selector:
    app: aws-cost-exporter
  type: ClusterIP
